# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

fastapi
huggingface
intel_extension_for_pytorch==1.11
kaggle
neovim
neural-compressor==2.1
pandas
poetry
psutil==5.9.2
requests
scikit-learn==0.24.2
sqlalchemy
streamlit
streamlit-extras
tensorboard
transformers==4.21.3
uvicorn[standard]
