# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

fastapi
huggingface
importlib-metadata
intel_extension_for_pytorch
kaggle
neovim
neural-compressor
numpy
# opencv-python
opencv-python-headless
pandas
pillow
poetry
psutil
python-multipart
requests
scikit-learn
sqlalchemy
streamlit
streamlit-extras
streamlit-modal
tensorboard
tensorflow
transformers==4.21.3
uvicorn[standard]
